*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.line{
    height: 2px;
  width: 100%;
  background-color: black;
}

body{
  background-color: black;
}
.box{
  height: 50%;
width: 100%;
background-color: red;

}
